<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ems_angular</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.ems.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsController</display-name>
    <servlet-name>ReportsController</servlet-name>
    <servlet-class>com.ems.controller.ReportsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsController</servlet-name>
    <url-pattern>/ReportsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventRegistration</display-name>
    <servlet-name>EventRegistration</servlet-name>
    <servlet-class>com.ems.controller.EventRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventRegistration</servlet-name>
    <url-pattern>/EventRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVenue</display-name>
    <servlet-name>GetVenue</servlet-name>
    <servlet-class>com.ems.controller.GetVenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVenue</servlet-name>
    <url-pattern>/GetVenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorController</display-name>
    <servlet-name>VendorController</servlet-name>
    <servlet-class>com.ems.controller.VendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorController</servlet-name>
    <url-pattern>/VendorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacilityDropDownController</display-name>
    <servlet-name>FacilityDropDownController</servlet-name>
    <servlet-class>com.ems.controller.FacilityDropDownController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacilityDropDownController</servlet-name>
    <url-pattern>/FacilityDropDownController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorFacility</display-name>
    <servlet-name>VendorFacility</servlet-name>
    <servlet-class>com.ems.controller.VendorFacility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorFacility</servlet-name>
    <url-pattern>/VendorFacility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.ems.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ems.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Facility_controller</display-name>
    <servlet-name>Facility_controller</servlet-name>
    <servlet-class>com.ems.controller.Facility_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facility_controller</servlet-name>
    <url-pattern>/Facility_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Facilty_type</display-name>
    <servlet-name>Facilty_type</servlet-name>
    <servlet-class>com.ems.controller.Facilty_type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facilty_type</servlet-name>
    <url-pattern>/Facilty_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vendor_id</display-name>
    <servlet-name>vendor_id</servlet-name>
    <servlet-class>com.ems.controller.vendor_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vendor_id</servlet-name>
    <url-pattern>/vendor_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cost_controller</display-name>
    <servlet-name>Cost_controller</servlet-name>
    <servlet-class>com.ems.controller.Cost_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cost_controller</servlet-name>
    <url-pattern>/Cost_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertFacility</display-name>
    <servlet-name>insertFacility</servlet-name>
    <servlet-class>com.ems.controller.insertFacility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertFacility</servlet-name>
    <url-pattern>/insertFacility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerListcontroller</display-name>
    <servlet-name>customerListcontroller</servlet-name>
    <servlet-class>com.ems.controller.customerListcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerListcontroller</servlet-name>
    <url-pattern>/customerListcontroller</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.ems.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/home.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCheck</display-name>
    <servlet-name>CustomerCheck</servlet-name>
    <servlet-class>com.ems.controller.CustomerCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCheck</servlet-name>
    <url-pattern>/CustomerCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventUpdateController</display-name>
    <servlet-name>EventUpdateController</servlet-name>
    <servlet-class>com.ems.controller.EventUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventUpdateController</servlet-name>
    <url-pattern>/EventUpdateController</url-pattern>
  </servlet-mapping>
</web-app>